.aside-block {
  background-color: $aside-background;
  min-height: 100vh;
  height: 100%;
  max-width: 600px;
  padding: 10px;
  color: $aside-text;
  box-sizing: border-box;

  &__title {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 2rem;
    color: $white;
  }
}
