.items-block {
  &__form {
    margin: 10px 0;
    box-sizing: border-box;
    background-color: #f8f9fa;
  
    &__input {
      margin: 0 10px;
      padding: 6px 12px;
      height: 38px;
      min-width: 360px;
      max-width: 860px;

      @include form-text-filed;
      @include custom-border;
    }

    &__button {
      background-color: $azure;
      border-color: $azure;

      @include custom-button;

      &:hover {
        background-color: $dark-azure;
        border-color: $dark-azure;
      }
    }
  }

  &__list {
    @include list-style;

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      padding: 12px 20px;
      border: 1px solid rgba(0,0,0,.125);

      &:first-child {
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
      }

      &:last-child {
        border-bottom-left-radius: .25rem;
        border-bottom-right-radius: .25rem;
      }
    }
  }
}
